.shop{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-gap: 10px;
    padding: 75px;
    grid-template-columns: repeat(3, 1fr);
}
.cart-container{
    background-color: antiquewhite;
    position: sticky;
    padding: 35px;
    border-radius: 5px;
}
.cart-container button{
    padding: 10px 20px;
    display: block;
    width: 100%;
    margin: 20px 0px;
    border: none;
    background-color: #5783db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.open-btn{
    display: none;
}
.close-btn{
    display: none;
}
.title{
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width: 480px) {
   
    .product-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding: 0px;
        position: relative;
    }
    .cart-container{
        position: absolute;
        top: 50px;
        width: 70%;

    }
    .open-btn{
        display: inline;
        margin-right: 10px;
        margin-left: 5px;
        margin-top: 5px;
        background-color: #5783db;
        border: none;
        padding: 8px 10px;
    }
    .close-btn{
        display: inline;
        margin-top: 5px;
        background-color: #5783db;
        border: none;
        padding: 8px 10px;
    }
    .title{
        display: none;
    }
    .shop{
        margin: 20px;
    }
    .product-details h4{
        margin: 5px 0;
    }
}